.admin-root {
  --secondary: #0b1d3f;
  --secondary-darker: #071527;
  --border-color: #415066;
  --new-primary: #c9971a;
  background-color: var(--secondary);
  min-height: 100vh;
}
.admin-header {
  height: 60px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  background-color: var(--secondary);
}
.admin-container {
  padding-top: 24px;
}
