.admin-root {
  --secondary: #16274d;
  --secondary-darker: #0d1730;
  --border-color: #3b4d76;
  --new-primary: #f2a53d;
  background-color: var(--secondary);
  min-height: 100vh;
}
.admin-header {
  height: 60px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  background-color: var(--secondary);
}
.admin-container {
  padding-top: 24px;
}
